/* Background Color */
body {
    background-color: rgba(55, 55, 59, 1.0);
    background-size: cover;
}

/* Main Text */
h1 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 50px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 1.0);
}

/* Form Text */
h2 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 30px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 1.0);
}

/* Other Text */
h3 {
    color: rgba(255, 255, 255, 1.0);
    font-family: 'Oswald';
    font-size: 20px;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 1.0);
}

/* Hyperlink */
a {
    text-decoration: underline;
}

/* Call Icon*/
a:before {
    content: "";
    background: url(https://order.dominos.com.au/Resources/Images/svg/material/ic_phone_white_24px.svg);
    background-size: 100%;
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    
}

/* Container */
.container {
    background-color: rgba(185, 185, 185, 1.0);
    height: 250px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

/* Submit Button */
input[type=submit] {
    background-color: rgba(255, 255, 255, 1.0);
}
